* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-color: hsl(224, 23%, 55%);
}

.card-container {
  border-radius: 20px;
  width: 453px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-self: center;
  justify-self: center;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.hero-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 453px;
  height: auto;
}

.card-body {
  padding: 0px 48px 20px 48px;
}

h1 {
  margin-top: 2.75rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: #444;
  text-align: center;
}

p {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5rem;
  color: hsl(224, 23%, 55%);
}

.card-body__plan-container {
  margin: 1.5rem 0;
  padding: 22px 20px 22px 25px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border: none;
  border-radius: 20px;
}

.card-body__plan-image {
  width: 48px;
  height: 48px;
}

.plan-type {
  color: #333;
  font-weight: 700;
  text-align: start;
  line-height: 1px;
}

.pricing {
  text-align: start;
  color: hsl(224, 23%, 55%);
}

.change-plan-link {
  text-align: end;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.change-plan-link:hover {
  text-decoration: none;
  color: hsl(245, 75%, 58%);
}

.proceed-to-payment-btn {
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 100%;
  padding: 1rem 0;
  font-weight: 900;
  font-size: 17px;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 28px -3px hsl(245, 75, 80%);
  box-shadow: 0px 20px 10px 0px hsl(245, 75%, 95%);
  cursor: pointer;
}

.proceed-to-payment-btn:hover {
  background-color: hsl(245, 75%, 58%);
}

.cancel-order-link {
  margin: 2rem 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.cancel-order-link:hover {
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 14px;
  }

  body {
    font-size: 14px;
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-color: hsl(224, 23%, 55%);
  }

  .card-container {
    width: 85%;
    margin: auto;
  }
  .hero-image {
    width: 100%;
    margin: auto;
  }

  .card-body {
    padding: 0px 24px 15px 24px;
  }

  .card-body__plan-container {
    margin: 1.5rem 0;
    padding: 12px 10px 12px 15px;
  }
}
